// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.style {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.style h2 {
  font-size: 40px;
  font-family: oswald;
}

.style h1 {
  font-size: 60px;
  font-family: oswald;
}

p {
 font-size: 30px;
  font-family: oswald;
}
